#sidebyside {
	position: relative;
	top: 0;
}
#details {
}
#main-list {
	width: 50%;
}
.hideme {
	display: none;
}
.shown {
	display: block;
	position: fixed;
	width: 50%;
	top: 0;
	right: 0;
	background: #a85;
}
.child-shown {
	display: block;
}
