body {  background: #ddd; 
	margin: 0; 
	font-family: Georgia, Tahoma, serif; }
h1, h2, hr, br { clear: both; }

h1 { width: 100%; 
background: url("skyline.jpg") no-repeat scroll center bottom #788FDD; 
	color: #333;
	padding: 0.6em 0.1em 0; margin:0; 
	border-bottom: solid 0.3em #555;
	font-size: 350%;
	font-variant: small-caps;
	letter-spacing: 2px;
	line-height: 1em;
	text-align: center; }
h2 { width: 100%; margin: 0; padding: 0.2em 0.1em 0; border-bottom: solid #888 0.1em; background: #eef; color: #889 }
a { color: #023; text-decoration: none; }
a:hover { color: #045; }
a:visited { color: #667; }
ul { margin: 0; padding: 0; }
li { list-style: none; color: #444; }
li > dt:hover { overflow: visible; font-weight: bold; }
#fixed-header {
	width: 100%;
	position: fixed;
	top: 0;
	background: #c0c0c8;
	padding: 0;
	z-index: 500;
	border-bottom: 2px solid #9F989F;
}
#caption {
	margin: 0 auto;
	text-align: center;
	font-size: 0.75em;
	color: #999;
}
#horizontal-ribbon {
	width: 100%;
	margin: 0;
	position: relative;
	left: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 60%;
}
#viewport {
	overflow: hidden;
	border: #79a 2px solid;
	margin: 5px;
}

#sidebyside {
	margin: 10em 0 0 0;
	width: 100%;
}
#main-list {
	background: url(rock.jpg) transparent top center repeat-x;
	width: 100%;
}
.shown {
	display: block;
	position: fixed;
	top: 270px;
	right: 10px;
	width: 45%;
	padding: 0.5em;
	background: #e8e8d0;
	z-index: 400;
}
#about-bar { 
	color: #632;
	position: fixed;
	right: 10px;
	top: 200px;
	width: 45%;
	padding: 0.4em;
	border-bottom: 1px solid #632;
	background: #e0d8b0;
}
#about-area { background: #b8d8c8; width: 100%; font: 10pt sans-serif}
#about-area h4 { 
	font-weight: bold; 
	font-size: 100%; 
	color: #666;
	
}
.fineprint {
	margin: 10px 0 0 40px;
}
#hint { color: #888; font-size: 80%; margin: 0.5em 3.2em }
#eons {
	width: 50%;
	font-size: 10pt;
}
#eons ol {
	list-style: none;
}
#eons li { }
#eons .arrows { 	
	background: url(pointers.png);
	width: 22px;
	height: 30px;
	overflow: hidden;
	display: block;
	float: left;
}
.period, .epoch {
	text-align: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #f0f0e8;
	cursor: default;
}
.precambrian { background: #b0c4d8 }
.hadean { background: #809090 }
.archean { background: #99adac }
.proterozoic { background: #ccd891 }

.phanerozoic { background: #b3e2d1 }
.paleozoic {  background: #80b5d5 }
.cambrian { background: #fb805f }
.ordovician { background: #f981a6 }
.silurian { background: #b172b6 }
.devonian { background: #9999c9 }
.carboniferous { background: #8091ad }
.permian { background: #67c6de }
.mesozoic { background: #8fad81 }
.triassic { background: #67c3b7 }
.jurassic { background: #4db47e }
.cretaceous { background: #7fc31c }
.cenozoic { background: #dfdf30 }
.paleogene { background: #ffb300 }
.neogene { background: #fdcc8a }
.quaternary { background: #ffff7f }

.timeline { float: left; overflow: hidden; height: 2.5em; margin: 0; padding: 0 }
.overline { border-top: 4px solid #aa0; }
#r-had { float:left; width: 0.04% }
#r-arc { float:left; width: 37.5% }
#r-pro { float:left; width: 48.95% }
#r-cam { float:left; width: 1.35%}
#r-ord { float:left; width: 1.1%}
#r-sil { float:left; width: 0.7%}
#r-dev { float:left; width: 1.425%}
#r-car { float:left; width: 1.5%}
#r-per { float:left; width: 1.2%}
#r-tri { float:left; width: 1.225%}
#r-jur { float:left; width: 1.375%}
#r-cre { float:left; width: 2%}
#r-pal { float:left; width: 1.05%}
#r-neo { float:left; width: 0.51%}
#r-qua { float:left; width: 0.065%}

.era {
	text-align: left;
	margin: 0;
	cursor: pointer;
	background: url(list-triangles.png) 0 4px no-repeat;
	padding-left: 20px;
	position: relative;
	left: -20px;
}
.open-arrow { background-position: 0 -14px }
.era dt {
	padding: 0.2em 
}
.transl {
	color: #555;
	font-family: sans-serif;
	font-size: 90%;
	font-weight: normal;
	letter-spacing: 1px;
	padding-left: 1em;
	float: right;
}
#eras dd .about {
	position: absolute;
	top: 4em; left: 0; 
	width: 45%; 
	text-align: left; 
	margin:0; padding: 0.2em;
}
.timespan {
	color: #888;
	font-family: Helvetica, Arial, sans-serif;
}

#links {
	margin: 0;
	padding: 0 0 2px 5px;
	border-bottom: 2px solid #d8dadf;
}
#links li { 
	list-style: disc inside; 
}
.button {
	cursor: pointer;
	font-size: 80%;
}
#details {
}

.greyed {
	color: #888;
	cursor: default;
}
.hideme {
	display: none;
}

.child-shown {
	display: block;
}
